.margin-20px{

    margin:20px;
    width: 250px;
}

.myButton {
   -moz-box-shadow: 3px 4px 0px 0px #1564ad;
   -webkit-box-shadow: 3px 4px 0px 0px #1564ad;
   box-shadow: 3px 4px 0px 0px #1564ad;
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
   background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
   background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
   background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
   background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
   background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
   background-color:#79bbff;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;
   border:1px solid #337bc4;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:17px;
   font-weight:bold;
   padding:12px 44px;
   text-decoration:none;
   text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
    background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
    background-color:#378de5;
}
.myButton:active {
    position:relative;
    top:1px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

html {
    text-align: center;
}

body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}



input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#footer {
    background-color: black;
    color: white;
    font-size: 200%;
    text-align: center;
    line-height: 3em;
}
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

#content { padding-bottom: 3em; }


html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }